body {
    font-family: Arial, sans-serif;
    margin: 30px;
}
form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 10px;
}
select, input, button, textarea {
    padding: 5px;
    margin-top: 5px;
}
textarea {
    width: 100%;
    font-family: monospace;
}
